<div class="cards-container">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="background-color: aliceblue;">Apple</h4>
            <span>Price Per Unit : 500 </span>
            <label>Quantity</label>
            <input type="number">
            <button>Buy</button>
            <p>Amount to be deducted : </p>
        </div>
    </div>


    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="background-color: aliceblue;">Apple</h4>
            <span>Price Per Unit : 500 </span>
            <label>Quantity</label>
            <input type="number">
            <button>Buy</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="background-color: aliceblue;">Apple</h4>
            <span>Price Per Unit : 500 </span>
            <label>Quantity</label>
            <input type="number">
            <button>Buy</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="background-color: aliceblue;">Apple</h4>
            <p>Price Per Unit : 500</p>
            <p>Quantity:</p>
            <input type="number">
            <button>Buy</button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="background-color: aliceblue;">Apple</h4>
            <span>Price Per Unit : 500 </span>
            <label>Quantity</label>
            <input type="number">
            <button>Buy</button>
        </div>
    </div>

</div>