<div class="cards-container">

    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="background-color: aliceblue;">Apple</h4>
            <span>Price Per Unit : 500 </span>
            <label>Quantity</label>
            <input type="number">
            <button  class="btn btn-info">Buy</button>
            <p>Amount to be deducted : </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="background-color: aliceblue;">Amazon</h4>
            <span>Price Per Unit : 500 </span>
            <label>Quantity</label>
            <input type="number">
            <button class="btn btn-info">Buy</button>
            <p>Amount to be deducted : </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="background-color: aliceblue;">Google</h4>
            <span>Price Per Unit : 500 </span>
            <label>Quantity</label>
            <input type="number">
            <button class="btn btn-info">Buy</button>
            <p>Amount to be deducted : </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="background-color: aliceblue;">Facebook</h4>
            <span>Price Per Unit : 500 </span>
            <label>Quantity</label>
            <input type="number">
            <button class="btn btn-info">Buy</button>
            <p>Amount to be deducted : </p>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title" style="background-color: aliceblue;">Apple</h4>
            <span>Price Per Unit : 500 </span>
            <label>Quantity</label>
            <input type="number">
            <button class="btn btn-info">Buy</button>
            <p>Amount to be deducted : </p>
        </div>
    </div>

</div>