<div class="container jumbotron">
    <h1 class="text-center">Register</h1>
    <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
        <div class="form-group">
            <label for="username">Username : </label>
            <input type="string" [formControl]="username" class="form-control" name="username">

            <div [hidden]="username.untouched || username.valid">
                <br>
                <div [hidden]="!username.hasError('required')">
                    <p class="alert alert-danger">Username is mandatory field.</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password : </label>
            <input type="password" class="form-control" [formControl]="password" name="password">

            <div [hidden]="password.untouched || password.valid">
                <div [hidden]="!password.hasError('required')">
                    <p class="alert alert-danger">password is mandatory field.</p>
                </div>
                <div [hidden]="!password.hasError('minlength')">
                    <p class="alert alert-danger">password must have 6 characters.</p>
                </div>
                <div [hidden]="!password.hasError('hasExclamation')">
                    <p class="alert alert-danger">password must have ! Mark.</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="username">Email : </label>
            <input type="email" [formControl]="email" class="form-control" name="email">
            <br>
            <div [hidden]="email.untouched || email.valid">
                <br>
                <div [hidden]="!email.hasError('required')">
                    <p class="alert alert-danger">Email is mandatory field.</p>
                </div>
                <div [hidden]="!email.hasError('email')">
                    <p class="alert alert-danger">Email must have correct format .</p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block" [disabled]="!registerForm.valid">Register</button>
        </div>
    </form>
</div>